h1 {
  color: #555259;
  font-family: Roboto;
  font-size: 45px;
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
}

h2 {
  color: #e9eef2;
  font-family: Roboto;
  font-size: 45px;
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
}

h4 {
  color: #555259;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.8;
  text-transform: uppercase;
}