@import "colors.scss";

h1 {
  color: $gray-smpl;
  font-size: 45px;
  line-height: 1.5;
}

h2 {
  color: $gray-txt;
  font-size: 45px;
  line-height: 1.5;
}

h4 {
  color: $gray-smpl;
  font-size: 12px;
  line-height: 1.8;
  letter-spacing: 0.05em;
}

h1, h2, h4 {
  font-family: Roboto;
  text-transform: uppercase;
  font-weight: 500;
}

.black {
  color: $gray-smpl;
}