@import "reset.scss";
@import "colors.scss";
@import "headers.scss";
@import "font.scss";
@import "wwa-styles.scss";

@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.line-toggler {
  position: fixed;
  right: 99px;
  bottom: 65px;
  cursor: pointer;
  display: block;
  &:hover {
    text-decoration: none;
  }
  span {
    width: 19px;
    height: 2px;
    display: inline-block;
  }
  span:nth-child(odd) {
    transform: rotate(45deg);
    margin-right: -5px;
  }
  span:nth-child(even) {
    transform: rotate(135deg);
    margin-left: -5px;
  }

  div {
    margin-top: -5px;
  }

  div:nth-child(1) {
    span {
      background-color: #d0cece;
    }
  }

  div:nth-child(2) {
    span {
      background-color: #a7a7a7;
    }
  }
  div:nth-child(3) {
    span {
      background-color: #737373;
    }
  }
}

.column {
  padding-left: 90px;
  padding-right: 90px;
}

.carousel-indicators {
  li {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: #555259;
    &.active {
      background-color: #cf999e;
    }
  }
}

.screen-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;

  .header {
    position: fixed;
    box-shadow: 3px 4px 17px 5px rgba(0, 0, 0, 0.27);
    background-color: $green-lt;
    width: 100%;
    z-index: 420;
    display: flex;
    justify-content: space-between;

    .logo {
      margin: 19px 0;
    }
    .logo__mock {
      font-size: 24px;
      font-family: Roboto;
      word-break: break-all;
    }

    .nav {
      display: flex;
      justify-content: flex-end;
    }

    nav {
      padding: 38px;
      li {
        padding-right: 29px;
        list-style: none;
        float: left;
        a {
          color: #555259;
          font-family: Roboto;
          font-size: 12px;
          font-weight: 500;
          line-height: 18px;
          text-transform: uppercase;
          cursor: pointer;
          text-decoration: none;
        }
      }
      @include clearfix();
    }

    .quote-container {
      .quote {
        background-color: #ce4e75;
        color: #fefefe;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        text-transform: uppercase;
        padding: 26px 37px 25px 39px;
        display: block;
        box-shadow: 2px 5px 6px 1px rgba(0, 0, 0, 0.23);
        opacity: 0.7;
      }
    }
  }

  .first-description {
    padding-top: 40px;
  }

  .slide {
    width: 100%;
    height: 100vh;
    &-container {
      padding-top: 190px;
    }
    &__one {
      background: $gray-lt url('/images/slide1.png') right top no-repeat;
      background-size: 85%;
    }
    &__two {
      background-color: red;
    }
  }
}

.wwd-block {
  background: #fff url('/images/background-mac.png') no-repeat;
  background-size: cover;
}

.technology-block {
  background: #000 url('/images/background-scheme.png') no-repeat;
  background-size: cover;
}

.cd-block {
  background: #fff url('/images/background-building.png') no-repeat;
  background-size: cover;
}

.form-block {
  background: #000 url('/images/background-street.png') no-repeat;
  background-size: cover;
}