.icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  &.fb {
    background-image: url('/images/fb-icon.png');
  }

  &.insta {
    background-image: url("/images/inst-icon.png");
  }

  &.gmail {
    background-image: url("/images/gmail-icon.png")
  }
}

.social-links {
  a {
    padding: 0 12.5px;
  }

  a:first-child {
    padding-left: 0;
  }
}