@import "colors.scss";

.description {
  flex-grow: 3;
}

.wwa-content {
  display: flex;
}

.wwa {
  flex-grow: 2;
  &__text {
    color: $gray-txt;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
  }

  &-block {
    background: #000909 url('/images/background-people.png') no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
  }

  &-content {
    padding-top: 200px;
  }

}